services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: hero-frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://auth-backend:8080
    networks:
      - app-network
    volumes:
      - .:/app:delegated
      - /app/node_modules
      - /app/.next

networks:
  app-network:
    name: app-network
    external: true